{% extends 'base_plataforma.html' %}
{% load static %}

{% block 'plataforma' %}

    {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <br>

    <div class="row">

        <div class="col-md-3">
            <img src="{% static '/img/perfil1.png' %}">
        </div>

        <div class="col-md-3 dados descricao">
            <h4>Caio Sampaio</h4>
            <h6>22 Anos</h6>
        </div>
        
    </div>
    <hr>


    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modal">
        Adicionar dados do paciente
    </button>
    <br>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Peso</th>
            <th scope="col">Altura</th>
            <th scope="col">% gordura</th>
            <th scope="col">% músculo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">58 Kg</th>
                <td>173 cm</td>
                <td>19%</td>
                <td>25%</td>
            </tr>
            
        </tbody>
    </table>
    

        
{% endblock%}