{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/auth/css.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth/plano_alimentar.css' %}">

{% endblock 'head' %}

{% block 'body' %}
{% if user.is_authenticated %}
    
    <div style="background-color: #27DB8F;" class="navbar">
        <h1 style="color: white;">NUTRI LAB</h1>
        <div style="display: flex; align-items: center;">
            <h2 style="color: white; margin-right: 15px; ">Olá, {{request.user}}</h2>
            <a href="{% url 'sair' %}">
                <button class="btn btn-danger" style="margin-right: 15px;">Sair</button>
            </a>
        </div>
        
    
    </div>
        

        
    
{% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <a href="{% url 'pacientes' %}" class="link-lateral">
                    <div class="card-lateral">
                        <img src="{% static '/img/paciente.png' %}">
                        <br>
                        <br>
                  
                        <h3>Gerenciar Pacientes</h3>
                    </div>
                  </a>
                  
                  <a href="{% url 'dadospaciente' %}" class="link-lateral">
                    <div class="card-lateral">
                        <img src="{% static '/img/dados_paciente.png' %}">
                        <br>
                        <br>
                  
                        <h3>Dados do Pacientes</h3>
                    </div>
                  </a>
                  
                  <a href="{%url 'plano_alimentar_listar' %}" class="link-lateral">
                    <div class="card-lateral">
                        <img src="{% static '/img/plano_alimentar.png' %}">
                        <br>
                        <br>
                  
                        <h3>Plano alimentar</h3>
                    </div>
                  </a>

            </div>

            <div class="col-md-8">
                {% block 'plataforma' %}


                {% endblock %}
            </div>

        </div>
    </div>
{% endblock%}